/* Tipografía general del body */
@font-face {
  font-family: 'Anek Devanagari';
  src: url('./assets/fonts/AnekDevanagari-VariableFont_wdth.ttf') format('truetype-variations');
  font-stretch: 125%; /* Ancho específico según el libro de diseño de la marca */
  font-style: normal;
  ascent-override: 80%;
  descent-override: 20%;
  line-gap-override: 0%;
}

/* Tipografía de encabezados */
@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Tipografía de "acento" */
@font-face {
  font-family: 'Pilowlava';
  src: url('./assets/fonts/Pilowlava-Regular.woff2') format('woff2'),
       url('./assets/fonts/Pilowlava-Regular.woff') format('woff');
  font-weight: 400; /* 'Regular' corresponde a un weight de 400 */
  font-style: normal;
}

:root {
  /* Variables de Colores primarios: */
  --color-primary-green: #B4D380;
  --color-primary-baby-pink: #F0B9D9;
  --color-primary-orange: #FE6232;
  --color-primary-electric-blue: #3B4DEA;
  --color-primary-lavender: #D2C3EA;
  --color-primary-violet: #D890EA;

  /* Variables de Colores secundarios: */
  --color-secondary-superdark-pink: #651644;
  --color-secondary-dark-blue: #1425B8;
  --color-secondary-medium-green: #8FBD42;
  --color-secondary-light-green: #E9F2D9;
  --color-secondary-medium-lavender: #8e68ca;
  --color-secondary-medium-pink: #DB54A4;
  --color-secondary-light-pink: #F6D5E8;

  /* Variables de Color del navbar: */
  --color-bg-navbar: #B4D380;
  --color-text-navbar: #394C1A;

  /* Variables de Color del footer: */
  --color-bg-footer: #323232;

  --color-tertiary-lavender: #F7F4FB;

  /* Variables de espaciado: */
  --spacing: 8px;
}

/* Reglas generales de esilo */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Anek Devanagari", Arial, sans-serif;

  main {
    min-height: calc(100dvh - 102px);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Ubuntu", Helvetica, sans-serif;
    font-weight: bold;
  }

  label {
    font-weight: bold;
  }

  .accent-text {
    font-family: "Pilowlava", fantasy;
  }

  .submit-button {
    background-color: var(--color-primary-green);
    color: black;
    border: none;
    border-radius: 12px;
    padding: .6rem 1.5rem;

    &:disabled {
      color: #9c9c9c;
      background: 
        linear-gradient(to right, rgba(224, 224, 224, 0.6), rgba(240, 240, 240, 0.6)),
        var(--color-primary-green);

    }
  }

  .cancel-button {
    background-color: var(--color-primary-orange);
    color: white;
    border: none;
    border-radius: 12px;
    padding: .6rem 1.5rem;
  }

  .prev-button {
    background-color: var(--color-primary-baby-pink);
    color: black;
    border: none;
    border-radius: 12px;
    padding: .6rem 1.5rem;
  }

  .babypink-button {
    background-color: var(--color-primary-baby-pink);
    border: none;
    border-radius: 12px;
    padding: .6rem 1.5rem;
  }

  .edit-button {
    background-color: var(--color-primary-electric-blue);
    color: white;
    border: none;
    border-radius: 12px;
    padding: .6rem 1.5rem;
  }


  .create-button {
    background-color: var(--color-primary-green);
    font-weight: 600;
    border: none;
    border-radius: 12px;
    padding: .6rem 1.5rem;
    &:hover {
      filter: brightness(1.1);
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
      transform: translateY(-2px);
    }
  }

  .btn-table {
    border: none;
    color: white;
    border-radius: 8px;
    padding: 0.2rem 0.4rem;
    background-color: var(--color-secondary-medium-lavender);

    &:hover {
      filter: brightness(85%);
    }
  }

  .edit {
    background-color: var(--color-primary-electric-blue);
  }

  .block, .cancelRes {
    background-color: var(--color-primary-orange);
  }

  .unblock, .confirmRes {
    background-color: var(--color-primary-green);
    color: black;
  }

  .bg-color-secondary-pink {
    background-color: var(--color-secondary-medium-pink);
  }

  .bg-color-light-green {
    background-color: var(--color-secondary-light-green);
    color: black;
  }

  .msg-ok-form {
    color: var(--color-primary-orange);
    font-weight: bold;
  }

}
