.card-event {
  border: 2px solid var(--color-secondary-medium-violet);

  .info-button {
    background-color: var(--color-primary-violet);
    color: black;
    border: none;
    border-radius: 12px;
    padding: .6rem 1.5rem;

    &:hover {
      filter: brightness(85%);
    }
  }

  .cover-img-events {
    min-height: 100%;
    max-height: 18rem;
  }
}


