.section-admin-rooms {
  padding-block: 3.75rem;

  h1 {
    text-align: center;
    font-size: 2.25rem;
    margin-block-end: 2rem;

    span {
      margin-inline-end: .5rem;
      font-family: 'Pilowlava';
      color: var(--color-primary-violet);
    }
  }
}