.h1-profile {
  font-size: 2rem;
  font-weight: bold;
}

.span-profile {
  font-size: 2.2rem;
}

.accent-text {
  color: var(--color-secondary-medium-green)
}

.calendar-page-wrapper{
  padding-block: 3.7rem;
}


.react-calendar__tile{
  margin: 20px;
}

.boton{
  padding: .7rem .8rem  !important;


}
