.h1-register {
  background-color: var(--color-primary-electric-blue);
  color: white;
  margin-top: 2rem;
  font-size: 2rem;
}

.span-register {
  color: var(--color-primary-orange);
  font-weight: normal;
}

.form-register {
  margin-top: 1rem;
  padding: 3rem;
}

.form-group-custom {
  margin-bottom: 1rem;
}

.text-error {
  color: red;
  font-weight: bold;
  font-size: 0.75rem;
}


.form-container-register {
    position: relative;

    .flor-register {
      z-index: -1;
      position: absolute;
      width: 85px;
      transform: translate(-150px, -25px);
    }

    .destellos-register {
      z-index: -1;
      position: relative;
      width: 190px;
      transform: translate(500px, -100px);
    }

    .login-form {
      z-index: 1;
    }
  }

