.h1-register {
  background-color: var(--color-primary-electric-blue);
  color: white;
  margin-top: 3rem;
  font-size: 2rem;
}

.span-register {
  color: var(--color-primary-orange);
  font-weight: normal;
}

.form-register {
  margin-top: 1rem;
  padding: 3rem;
}

.form-group-custom {
  margin-bottom: 1rem;
}

.text-error {
  color: red;
  font-weight: bold;
  font-size: 0.75rem;
}

.passPos {
  position: relative;
}

.iconPos {
  position: absolute;
  border: none;
  background-color: transparent;
  top: 50%;
  right: 5px;
  font-size: 1.5rem;
  transform: translateY(-50%); 
}

@media (max-height: 700px) {
  .h1-register {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .form-register {
    width: 100%;
    max-width: 30rem;
    padding: 0.7rem;
  }

  .form-register label,
  .form-register input,
  .form-register p,
  .form-register .text-error {
    font-size: 0.75rem;
    margin: 0;
  }

  .form-group-custom {
    margin-bottom: 0.75rem;
  }
}

@media (max-height: 500px) {
  .form-register {
    padding: 0.5rem;
  }

  .form-group-custom {
    margin-bottom: 0.5rem;
  }
}
.mailsend{
  color: var(--color-primary-orange);
  font-weight: bold;
  
}