.section-about-1 {
  padding-block-start: 3.75rem;
  .spanLetter-1 {
    color: var(--color-primary-violet);
    margin-inline-end: .5rem;
  }
}

.section-about-2 {
  background-color: var(--color-primary-violet);
  .spanLetter-2 {
    color: var(--color-secondary-superdark-pink);
    margin-inline-end: .5rem;
  }

  .decor-images-1 {
    position: absolute;
    bottom: 0;
    left: -70px;
    display: flex;
    flex-direction: column;

    img {
      max-width: 60px;
    }
  }

  .decor-images-2 {
    position: absolute;
    top: -80px;
    right: -40px;

    .decor-3,
    .decor-4 {
      width: 80px;
    }

    .decor-5 {
      width: 60px;
      position: absolute;
      top: 90px;
      right: 50px;
    }
  }
}

.section-about-3 {
  .section-about-title {
    padding-block: 1.5rem;
    background-color: var(--color-primary-orange);
    h2 {
      text-align: center;
      color: #FFF;
    }
    .spanLetter-3 {
      color: var(--color-primary-electric-blue);
      margin-inline-start: .5rem;
    }
  }

  article {
    padding: 1rem;
    border: solid 3px var(--color-primary-electric-blue);
    border-radius: 1rem;
    height: 100%;

    h3 {
      padding-block-end: 1rem;
    }
  }
}

.section-about-4 {
  background-color: var(--color-primary-electric-blue);
  h2 {
    color: #FFF;
    text-align: center;
  }
  .spanLetter-4 {
    color: var(--color-primary-orange);
    margin-inline-end: .5rem;
  }

  h4 {
    margin-block: 6rem;
    font-family: 'Pilowlava';
    color: var(--color-primary-orange);
  }

  .gy-customsize {
    row-gap: 6rem;
  }
}