.section-about-1 {
  padding-block-start: 3.75rem;
  .spanLetter-1 {
    color: var(--color-primary-violet);
    margin-inline-end: .5rem;
  }
}

.section-about-2 {
  background-color: var(--color-primary-violet);
  .spanLetter-2 {
    color: var(--color-secondary-superdark-pink);
    margin-inline-end: .5rem;
  }
}

.section-about-3 {
  background-color: var(--color-primary-orange);
  h2 {
    text-align: center;
    color: #FFF;
  }
  .spanLetter-3 {
    color: var(--color-primary-electric-blue);
    margin-inline-start: .5rem;
  }
}

.section-about-4 {

  .spanLetter-4 {
    color: var(--color-primary-orange);
    margin-inline-end: .5rem;
  }
}