.section-login {
  padding-block-start: 3.75rem;

  .h1-login {
    background-color: var(--color-primary-orange);
    color: white;
    margin-top: 2rem;
    font-size: 26px;
  }

  .span-login{
    font-size: 32px;
    margin-left: .5rem;
    font-weight: normal;
    color: var(--color-primary-electric-blue);
  }
}
