.section-admin-users {
  padding-block: 3.75rem;

  h1 {
    text-align: center;
    font-size: 2.25rem;
    margin-block-end: 2rem;

    span {
      margin-inline-end: .5rem;
      font-family: 'Pilowlava';
      color: var(--color-primary-baby-pink);
    }
  }

  h2 {
    font-size: 1.4rem;
  }

  h2 + span {
    font-size: 1.4rem;
    font-weight: bold;
    border-top: 2px solid var(--color-primary-baby-pink);
  }
}

.btn-table {
  border: none;
  color: white;
  border-radius: 8px;
  padding: 0.2rem 0.4rem;
  background-color: var(--color-secondary-medium-lavender);

  &:hover {
    filter: brightness(85%);
  }
}

.block {
  background-color: var(--color-primary-orange);
}

.unblock {
  background-color: var(--color-primary-green);
}