.section-admin-users {
  padding-block: 7rem;

  h1 {
    text-align: center;
    font-size: 2.25rem;
    margin-block-end: 2rem;

    span {
      margin-inline-end: .5rem;
      font-family: 'Pilowlava';
      color: var(--color-primary-baby-pink);
    }
  }

  h2 {
    font-size: 1.4rem;
  }

  h2 + span {
    font-size: 1.4rem;
    font-weight: bold;
  }
}