.section-contact {
  padding-block: 3.75rem;
}

.logo-simu {
  width: 2.5rem;
}

.icon-simu {
  margin-right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  fill: #FFF;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo-genkoa {
  width: 5rem;
}