  .navbar-public {
    background-color: var(--color-bg-navbar);
    color: var(--color-text-navbar);

    .logo-nav-class{
      width: 200px;
    }

    a:hover {
      text-shadow: 0 0 1px #000; 
    }

    .button-navbar{
      color: var(--color-text-navbar);
      background-color: transparent;
      border: none;

      &:hover {
        text-shadow: 0 0 1px #000; 
      }
    }
  }